root {
    --tipografia-principal: rgb(2, 15, 10);
    --color-secundario: rgb(5, 207, 248);
    --color-terciario: rgb(221, 243, 18);
    --color-fondo: rgb(255, 255, 255);
}



h1, p {
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: oblique;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 5px #151515
    
}
body {
    background-color: rgb(12, 246, 153);
}
button {
    padding: 20px 40px;
    background-color: rgb(5, 207, 248);
    border: 2px solid rgb(221, 243, 18);
    border-radius: 50px;
    margin: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-sizing: border-box;
}
img {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    max-width: 700px;
    height: 500px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    box-shadow: 2px 2px 5px #151515;
}
.contenedor1 {
    background-color: rgb(255, 0, 0);
}
#contenedor2 {
    background-color: rgb(0, 255, 0);
}